* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

h1 {
    color: blue;
}

img {
    width: 80vw;
    height: 80vh;
}
